.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0px;
  border-bottom: 0px;
  overflow: auto;
  background-color: #DFF4CB;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.FRr {
  width: 1000px;
  height: 80%;
  position: absolute;
  background-color: transparent;
  border-radius: 0px;
  border-bottom: 0px;
  overflow: hidden;
  left: 50%;
  top: 55%;
  overflow-y: auto;
  transform: translate(-50%, -50%);
}


.iclo {
  max-width: 10%;
  position: absolute;
  left: 2%;
  top: 10%;
  align-items: center;
}


.difo {
  border: 2px solid #189232;
  border-radius: 10%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.email {
  font-weight: bold;
  position: absolute;
  left: 10%;
  top: 55%;
}

.tabs {
  display: flex;
  gap: 20px;
  margin-left: 55%;
  width: 15%;
  margin-top: -20%;
}

.tab {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tab:hover {
  background-color: #eee;
}

.tab.active {
  background-color: #4CAF50;
  color: white;
}

.timeline-content {
  padding: 20px;
  border-radius: 5px;
  margin-top: 20%;
  margin-left: 55%;
}

.about-content {
  padding: 20px;
  overflow-y: auto;
  border: 2px solid #000;
  background-color: #DFF4CB;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 33%;
  text-align: justify;
}

.coverPhoto {
  border: 2px solid #000;
  border-radius: 15%;
  width: 500px;
  height: 200px;
  object-fit: cover;
  margin-top: -60%;
  margin-left: -50%;
}

.informt {
  border: 2px solid #000;
  width: 500px;
  height: 200px;
  object-fit: cover;
  margin-top: 0%;
  margin-left: -50%;
}

.edit {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 93%;

}

.iiinf{
  align-items: center;
  background: transparent;
  border: none;
  outline: none;
  font-size: 20x;

}
.inforto{
  width: 500px;
  height: 300px;

}
.about-content p {
  margin-bottom: 10px; /* Add space between paragraphs */
}